html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

#canvas {
  border: 1px solid red;
  display: none;
  position: absolute;
}

#canvas1 {
  position: absolute;
  top:0;
  right: 0;
  z-index: 9999;
  background: #000
}