html,
body,
div {
  margin: 0;
  padding: 0;
  /* background: #000; */
}
#bgImgDiv {
  /* overflow: hidden; */
  height: 100vh;
}
#canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
#tools {
  position: absolute;
  z-index: 30;
  display: none;
}

#toolsContent {
  display: flex;
  justify-content: flex-end;
}
/* #getDesktopCapturer {
  top: 100px;
  position: absolute;
  left: 200px;
} */
.iconArea {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0.45);
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 24px;
  height: 24px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

  cursor: pointer;
}

#bgImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
}

#sizeInfo {
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  background: rgba(40, 40, 40, 0.8);
  padding: 5px 10px;
  border-radius: 2px;
  font-family: Arial Consolas sans-serif;
  display: none;
  z-index: 30;
  height: 15px;
  line-height: 15px;
  user-select: none;
}
